/*=The same contents=*/

body{
    font-family:'Montserrat', sans-serif;
    font-size: 18pt;
    background-color: #F8F4F1; 
}


header{
    height: 120px;
    font-size: 20pt;
    display:flex;
    background-color: #623A1D;
    color: #FFFFFF;
    align-items: center;
/*        justify-content: center;*/
    margin: auto;
}

footer{
    background-color: #623A1D;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: auto;
}

a{
    text-decoration: none;
}

a img{
    padding-right: 7px;
}
header nav div a{
    color:#ffffff;
    padding: 5px;
}
header nav div a:hover{
    color:#96613A;
}

#alignleft{
        justify-content: left;
}
#alignright{
        justify-content: right;
}
/*
#alignright{
    text-align: 
}
#alignleft{
    
}
*/

footer section{
    width: 200px;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.clear{
    clear: both;
}

h1{
    font-size: 100pt;
    font-family: 'Satisfy', cursive;
    color:#ffffff;
}

.banner{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;  
}

section div{
    width:1000px;
    margin: auto;
    border: 2px solid #623A1D;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    color: #623A1D;
}

section div h2{
    margin-top: 0px;
    color: #96613A;
}

section div img{
    width: 175px;
    padding: 25px;
    
    
}


/*=homepage=*/

.homebanner{
    background-image:url(images/homepage/banner-home.jpg);
    height: 500px;
    display: flex;
}

.healthbanner{
    background-image:url(images/health/healthy-banner.png);
    height: 500px;
    display: flex;
}